.navbar{
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
  
}
.logo {
  height : 100px;
  width : 30px;
  background-color: aqua; 
}
.navbar a{
   background-color: rgb(59, 244, 59);
   padding :0.4rem 1.8rem;
   border-radius: 1.5rem;
   font-size: 1.1rem;
   color: rgb(222, 60, 60);
   
}
