.app{
    max-width : 100rem;
    height : auto;
    margin : auto;
    overflow: hidden;
    position: relative;
}
.emergency-button{
    position: fixed;
    top : 90%;
    margin-left : 1%;
    background-color: rgb(255, 0, 0);
     padding :0.4rem 1.8rem;
     border-radius: 1.5rem;
     font-size: 1.1rem;
}
@media(max-width : 764px)
{
    .emergency-button{
        padding : 0rem;
    }
}