.content-box-main{
    /* margin: 15vh 1rem 1rem 1rem; */
    height : 100%;
    width : 100%;
}
.emergency-button{
    position: fixed;
    top : 85vh;
    left : 88vw;
    background-color: rgb(255, 0, 0);
     margin : 0% 10% 0% 0%;
     padding :0.4rem 1.8rem;
     border-radius: 1.5rem;
     font-size: 1.1rem;
}