.child-card{
  display : flex;
  padding : 2rem;
  gap : 5rem;
  flex-wrap: wrap;
  max-width : 80rem;
  background-color: #F5F7F8;
  border-radius: 1rem;
  box-shadow: 0 0  7px 1px #a3a5a6;
  margin-bottom: 5rem;
  justify-content: center;
  margin : 5rem auto;
  overflow: scroll;
}
.child-card-photo{
  height : 20rem;
  width : 20rem;
  flex-shrink: 0;
  border-radius: 1rem;
}
.child-layout{
  width : 100%;
  padding : 2rem;
}
.child-details{
  flex-grow: 1;
  display: flex;
}
.child-details ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 0.8;
}
.child-details ul li{
  padding : 0.5rem;
}
@media(max-width : 768px)
{
  .child-card-photo{
    height : auto;
    width : 20rem;
    border-radius: 0.5rem;
  }
  .child-card{
    justify-content: center;
  }
  .child-btn{
    margin-left : 1rem;
  }
}