.logo {
    background-image: url("../../public/images/logo.png");
    background-size: contain; /* Ensures the image fits within the container without distortion */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    height: 10vh; /* Sets the height relative to the viewport */
    width: 10vh; /* Makes it a square container proportional to the height */
}
.logo-div{
    width : auto;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    margin-right : 0%;
    font-weight: 900;
    color : rgb(245, 71, 71);
    cursor: pointer;
}
