.orphanages-header{
    width : 100%;
    height : 28rem;
    background-image : url(https://res.cloudinary.com/dddkksq5w/image/upload/v1737189581/Orphanages-bg_l5l075.jpg);
    background-size: cover;
}
.orphanages-container{
    display: grid;
    height : 80rem;
    grid-template-columns:1fr 6fr;
}
.orphanages-container-left{
    height : 30rem;
    border-right:1px solid rgb(154, 147, 147);
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap : 0.1rem;
    /* align-items: center; */
    justify-content: flex-start
}
.orphanages-container-left a{
    width : 100%;
    height : 4rem;
    background-color:#D9D91E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.orphanages-container-left a:active{
    color:red;
}
.orphanages-container-right{
    overflow: scroll;
    margin : 1rem;
    border-radius: 1rem;
    background-color: rgb(245, 248, 248);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    padding : 2rem;
}
/*-----------------------orphange-home-layout--------------------------*/
.orphange-home-layout{
    width : 100%;
    height : auto;
    display: flex;
    justify-content: center;
    gap : 1rem;
    flex-wrap: wrap;
}
.orphange-home-layout-left{
    height : 30rem;
    width : 28rem;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 0 5px rgb(0, 0, 0,0.4);

}
.orphange-home-layout-left img{
    height : 100%;
    width : 30rem;

}
.orphange-home-layout-right{
    width : 45rem;
    height : 10rem;
}
.orphange-home-layout-right ul{
    font-size: 1.3rem;
    padding : 1rem;
}
.orphange-home-layout-right ul li {
    margin-bottom: 1rem;
}
.orphange-home-layout-right ul li b{
    color : red;
}
.orphanage-application-layout{
    margin-top: 5rem;
 display: flex;
 align-items: center;
 flex-wrap: wrap;
 justify-content: center;
}
.application{
    width : 90%;
    min-height : 5rem;
    background-color: #edf3ed;
    margin : 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0,0.3);
    font-size : 1.2rem;
    padding : 1rem;
    flex-wrap :wrap;
}
/* .applicant-name,.child-id,.applicant-mail{
    flex-grow :1;
} */

/* Transaction */
.orphanage-transaction {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .transaction {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .transaction p {
    margin: 5px 0;
  }
  
  .transaction strong {
    color: #333;
  }
.photo-layout{
    width:100%;
    height : 100%;
    padding : 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}  
.photo-layout img{
    height : 20rem;
    width : 20rem;
    margin : 2rem;
    border-radius: 1rem;
}

@media(max-width : 769px)
{
    .orphanages-header{
        height : 20rem;
    }
    .orphanages-container{
        display: grid;
        height : auto;
        grid-template-columns:1fr ;
    }
    .orphanages-container-left{
        height : auto;
    }
    .orphanages-container-left a{
        height : 2rem;
    }
    .orphanages-container-right{
        margin : 1rem;
        padding : 0.5rem;
    }
    .orphanage-application-layout{
        margin-top: 1rem;
    }
   
 .application{
    width : 99%;
    min-height : 2rem;
    background-color: #edf3ed;
    margin : 1rem;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0,0.3);
    font-size : 0.8rem;
    padding : 1rem;
    flex-wrap :wrap;
}
    .applicant-name,.child-id,.applicant-mail{
        flex-grow :1;
    }

}

