.error-page {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10%;
    padding: 1rem; /* Added padding for better spacing on smaller screens */
}

.error-page-right {
    background-image: url(images/donate-middle.png);
    min-height: 30rem;
    width: 40rem;
    background-position: center;
    background-size: cover;
    margin: 1rem; 
}

.error-page-left {
    height: 100%;
    width: 40rem;
    text-align: center; /* Center-align content for better presentation on smaller screens */
}

.error-404 {
    font-size: 5rem;
    color: rgb(255, 87, 87);
    margin: 1rem 0; /* Added margin for spacing */
}

.error-404-some {
    font-size: 3rem;
    color: rgb(255, 87, 87);
    margin-bottom: 1rem; /* Added spacing below */
}

.error-page p {
    text-align: center ;
    font-size: 2rem;
    padding: 1rem;
    font-weight: 400;
    color: rgb(79, 76, 76);
}

/* Responsive Design */

@media(max-width : 768px)
{
 
    .error-page
    {
        padding: 0;    
    }
    .error-page-right {
        min-height: 10rem;
        width: 10rem;
        margin: 0;
        margin-top: 5rem;
    }
    .error-404 {
        font-size: 2rem;
        color: rgb(255, 87, 87);
    }
    
    .error-404-some {
        font-size: 1.5rem;
        color: rgb(255, 87, 87);
    }
    
    .error-page p,.error-page a {
        text-align: center ;
        font-size: 1rem;
        padding: 1rem;
    }
}